html {
  background-color: white;
  line-height: 2;
}
a {
  text-decoration: none;
  color: steelblue;
  background-image: none;
}
a:hover {
  text-shadow: 1px 0 0 black;
}
body {
  line-height: 140%;
}

