html {
  background-color: #f1f1f1;
  line-height: 2;
  font-family: "Spectral";
}
a {
  text-decoration: none;
  color: #289494;
  background-image: none;
  text-shadow: none;
}
a:hover {
  color: #056959;
}
body {
  line-height: 140%;
  font-family: "Spectral";
}

div.myClass {
  color: #2d2d2d;
  font-size: 33px;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 35px;
  font-family: "Arsenal";
}
div.myClass:hover {
  color: #289494;
}

div.myspan {
  color: hsla(0, 0%, 50%, 0.7);
  font-size: 20px;
  text-decoration: none;
}

div.myspan:hover {
  color: #289494;
}

div.blog-post {
  marginleft: 13%;
  marginright: 13%;
  marginbottom: 13%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arsenal";
  color: #2d2d2d;
}

h1.blog-post-title {
  color: #2d2d2d;
  margin-bottom: 0.2rem;
  font-weight: "normal";
}

.menu-items {
  float: right;
  list-style: none;
  border: none;
  font-size: 100%;
  font-family: "Arsenal";
  margin-top: 10px;
}

h1.title {
  color: #289494;
  font-size: 70px;
  font-family: Arsenal;
  letter-spacing: 4px;
  font-weight: normal;
}

.icons {
  width: 27px;
  height: 27px;
  margin-right: 1.5rem;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  ul.menu-items {
    float: initial;
    margin-bottom: 0;
  }

  div.social-icons {
    justify-content: center;
  }
  .icons {
    width: 20px;
    height: 20px;
    margin-right: 1.5rem;
    margin-top: 10px;
  }

  h1.title {
    font-size: 45px;
  }

  div.blog-post {
    marginleft: 5%;
    marginright: 5%;
    marginbottom: 5%;
  }
}
