html {
  background-color: #F1F1F1;
  line-height: 2;
  font-family: 'Arsenal'
}
a {
  text-decoration: none;
  color: #289494;
  background-image: none;
}
a:hover {
  color: #056959;
}
body {
  line-height: 140%;
  font-family: 'Arsenal';
}

div.myClass {
  color: black;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Arsenal'
  
}
div.myClass:hover {
  color: #289494
}

div.myspan {
  color: hsla(0,0%,50%,0.7);
  font-size: 20px;
  text-decoration: none;
  
}

div.myspan:hover {
  color: #289494
}

h1, h2, h3, h4 {
  font-family: 'Arsenal';
  color: "inherit"
}



h1.blog-post-title {
  color: "#2d2d2d";
  margin-bottom: 0.2rem;
}

h2 {
  color: "#289494"
}